.container {
  margin-top: 225px;
  display:  flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h2 {
  color: white;
}

.botao{
  width: 180px;
}

html {
  background-color: red;
}

button {
  width: 70px;
  height: 40px;
  margin: 0px;
  border: 2px solid black;
}

button:hover{
  cursor: pointer;
}

#nao {
  margin-left: 40px;
  position: absolute;
}